# Ignore IntelliJ IDEA project files
.idea/
/*.iml
/production/
/artifacts/
/out/

# Eclipse files
.classpath
.project
/bin
/.settings

# Ant build output
/build/
/build-beast/
/build-beastfx/
/deps/
/release/

# Ignore macOS system files
.DS_Store

.Rhistory
.Rapp.history

# Ignore BEAST2 run output
*.out
*.log
*.trees
*.xml.state
beast_services.xml
